{{!--Component to display a form to edit a question--}}
{{yield}}
{{#if showQuestionForm}}
<div class="jumbotron">
  <h1>Edit Question</h1>
  <div class="">
    <form class="">
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{textarea value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="note">Additonal Notes</label>
        {{textarea value=note id="note" placeholder=question.note}}
      </div>

      <button {{action "update" question}}>Update</button>
    </form>
  </div>
</div>
  {{else}}
  <button {{action "editQuestion" question}}>Edit Question</button>
{{/if}}
<div class="">
  <button {{action "delQuestion" question}}>Delete</button>
</div>
