{{!--Component that displays all questions as a list--}}
{{yield}}
<div class="jumbotron">
  <li>
    {{#link-to 'question' question.id}}
    Author: {{question.author}} <br>
     Question: {{question.content}}
    {{/link-to}}

    {{!--Helper that shows a fire glyphicon on questions with five or more answers--}}
    {{question-popularity question}}
    {{!--Helper that shows a snowflake glyphicon on questions with no answers--}}
    {{question-unpopular question}}
  </li>
  </div>
