{{yield}}
{{question.author}} {{question.content}}{{question.note}}

{{edit-question question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}

Answer:
<ul>
  {{#each answer as |answer|}}
  <li>{{answer.mwandishi}} wrote {{answer.jibu}}</li>
  {{/each}}
</ul>
