{{!--Component to display details of a specific question--}}
{{yield}}
<div class="h2">
Author: {{question.author}}<br>
Question: {{question.content}}
<br><br>
note: {{question.note}}
<br>
</div>

{{edit-question question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
<hr>
Answers:
<div class="">
  {{!--Each answer is displayed in descending order according to the number of votes it has--}}
  <ul>
    {{#each sortedAnswers as |answer|}}
    {{answer-detail answer=answer upvote="upvote" downvote="downvote"}}
    {{/each}}
  </ul>
  {{new-answer saveAnswer="saveAnswer" question=question}}
</div>
